#include "Resource.h"
#include "dialogs.rc"


VS_VERSION_INFO VERSIONINFO
FILEVERSION VERSION_MAJOR, VERSION_MINOR, VERSION_BUGFIX, VERSION_BUILD
PRODUCTVERSION VERSION_MAJOR, VERSION_MINOR, VERSION_BUGFIX, VERSION_BUILD
FILEFLAGSMASK 0x37L
#ifdef _DEBUG
 FILEFLAGS 0x21L
#else
 FILEFLAGS 0x20L
#endif
 FILEOS 0x4L
 FILETYPE 0x0L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080904b0"
      BEGIN
                        VALUE "Comments", "Fork by dfjs1m of https://github.com/azerg/NppBplistPlugin. Source: https://github.com/dfjsim/NppBplistPlugin"
                        VALUE "CompanyName", "dfjs1m (fork of original author Sergiy Azarovsky)"
                        VALUE "FileDescription", "Notepad++ binary plist (bplist) plugin - js fork with numeric timestamp enhancements"
            VALUE "FileVersion", VERSION_STRING
            VALUE "InternalName", "NppPlistPlugin_js"
            VALUE "LegalCopyright", "Copyright (C) 2024 Sergiy Azarovsky"
            VALUE "OriginalFilename", "NppBplistPlugin.dll"
                        VALUE "ProductName", "Notepad++ bplist plugin (js fork)"
            VALUE "ProductVersion", VERSION_STRING
#ifdef UNICODE
                        VALUE "SpecialBuild", "UNICODE build - js fork"
#else
                    VALUE "SpecialBuild", "ANSI build - js fork"
#endif
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x809, 1200
    END
END